python-telegram-bot==20.7
Flask==2.3.3
flask-socketio==5.3.6
flask-cors==4.0.0
gevent==24.2.1
Werkzeug==2.3.7
gevent-websocket==0.10.1
pyrogram==2.0.106
tgcrypto==1.2.5
gunicorn==21.2.0
python-dotenv==1.0.0
requests==2.31.0
eventlet==0.33.3
dnspython==2.4.2 
